@charset "UTF-8";
/*------------------FUENTES------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:ital,wght@1,100&display=swap");
/*------------------RESETEO------------------*/
/*------------------BODY------------------*/
/*------------------RESETEO------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*------------------BODY------------------*/
body {
  font-family: 'Montserrat', sans-serif; }

/*------------------NAV------------------*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%; }
  .nav .nav__links {
    width: 45%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; }
  .nav .nav__item:hover {
    transform: scale(1.1); }
  .nav .nav__enlace {
    text-decoration: none;
    color: black; }
  .nav .nav__enlace--select {
    font-weight: 600; }
  .nav .nav__logo {
    margin-left: 10px;
    height: 45px; }

/*------------------MAIN------------------*/
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main .main__poster {
    height: auto;
    width: 70vw; }

/*------------------FOOTER------------------*/
.footer {
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .footer .footer__logo {
    width: 30px;
    height: auto; }
  .footer .ordenbloques {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row; }

/*------------------MAPA------------------*/
.tamañobloque, .bloque1, .bloque2, .bloque3, .bloque4 {
  width: 40px;
  height: 40px; }

.bloque1 {
  background-color: #800080; }

.bloque2 {
  background-color: #ff00ff; }

.bloque3 {
  background-color: #008080; }

.bloque4 {
  background-color: #c0c0c0; }

.boxmix {
  background-color: green;
  width: 40px;
  height: 40px; }