/*------------------FUENTES------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:ital,wght@1,100&display=swap');
/*------------------RESETEO------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------BODY------------------*/
body{
    font-family: 'Montserrat', sans-serif;
}
/*------------------NAV------------------*/
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.nav__links{
    width: 45%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.nav__item:hover{
    transform: scale(1.1);
}
.nav__enlace{
    text-decoration: none;
    color: black;
}
.nav__enlace--select{
    font-weight: 600;
}
.nav__logo{
    margin-left: 10px;
    height: 45px;
}
/*------------------MAIN------------------*/
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__poster{
    height: auto;
    width: 70vw;
}
/*------------------FOOTER------------------*/
.footer{
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer__logo{
    width: 30px;
    height: auto;
}
/*------------------MEDIAQUERIES------------------*/
@media screen and (max-width: 576px) {
    /*-------------navmedia-------------*/
    .nav__links{
        flex-direction: column;
        font-size: 12px;
    }
    .nav{
        height: 30vh;
    }
    .nav__logo{
        height: 25px;
    }
    /*-------------mainmedia-------------*/
    .main{
        height: 50vh;
        margin: 10px;
    }
    /*-------------footermedia-------------*/
    .footer{
        flex-direction: column;
        height: 20vh;
        font-size: 12px;
    }
    .footer__logo{
        width: 15px;
    }
}