/*------------------FUENTES------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:ital,wght@1,100&display=swap');
/*------------------RESETEO------------------*/
/*------------------BODY------------------*/
@import "_reseteoybody";
/*------------------NAV------------------*/
@import "_nav";
/*------------------MAIN------------------*/
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .main__poster{
        height: auto;
        width: 70vw;
    }
}
/*------------------FOOTER------------------*/
@import "_footer";
/*------------------MAPA------------------*/
@import "_general";